.chat-message {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-message-item {
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;

  & + & {
    margin-top: 10px;
  }
}

.chat-message-item--user {
  align-self: flex-end;

  background-color: #2b313f;
  color: #fff;
  padding: 6px 14px;
  border-radius: 15px 15px 0 15px;
  max-width: 70%;
}

.chat-message-item--assistant {
  .chat-message-item__sender {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;

    .avatar {
      flex-shrink: 0;
      --ant-avatar-container-size: 30px;
    }

    .name {
      font-size: 14px;
      color: #333;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .chat-message-item__content {
    padding-left: 30px + 10px;
  }
}
